.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(60, 60, 71, 1) 100%
  );
}

form {
  width: 95vw !important;
  /* height: 30vh; */
  color: white;
  border: 3px solid gold;
  padding: 1em;
  border-radius: 5px;
  background-color: #242a2f;
}

form > label {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.submit-button {
  margin-top: 1em;
}

.google-button {
  margin-top: 1em;
  margin-left: 0.5em;
}

.submit-button-wrap {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid gold;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}
