p,
h1 {
  color: white;
}

.marker-modal-main-div {
  min-height: 40vh;
  width: 90vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shojumaru", cursive;
  font-weight: 100;
  font-size: 12px;
}

.marker-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.marker-modal-buttons > button {
  font-size: 12px;
}

.marker-modal-inner-div {
  min-height: 60vh;
  width: 90vw;
  padding: 0.7em;
  /* border: 3px solid gold; */
  border-radius: 5px;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gym-details {
  padding: 0.7em;
  padding-bottom: 1em;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gym-challenges {
  color: white;
  padding: 0.7em;
  border-top: 3px solid gold;
}

.rsvp-attendees {
  display: flex;
  justify-content: center;
  flex-direction: center;
}

.rsvp-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
}

.rsvp-button {
  margin-top: 1em;
}

.attendee-count {
  margin: 0em;
  margin-left: 0.5em;
}
