.gym-item {
  background: rgb(33, 37, 41);
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(60, 60, 71, 1) 100%
  );
  border: 2px solid gold;
  padding: 1em 2em;
  margin: 0em;
  margin-bottom: 0.5em;
  font-size: 14px;
  width: 100vw;
}

.gym-list {
  overflow-x: scroll;
}
