.add-event-form {
  /* width: 350px; */
  color: white;
  border: 1px solid gold;
  padding: 1em;
  border-radius: 5px;
  width: 100vw;
  margin-top: 0.7em;
}

.add-event-form > label {
  display: grid;
  grid-template-columns: 145px 1fr;
  text-align: right;
  font-size: 0.5em;
}

.add-event-form > label > input {
  width: 100%;
  margin-left: 1em;
  background-color: white;
}

input {
}

.submit-button {
  margin-top: 1em;
}

.submit-button-wrap {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid gold;
  margin-top: 2.5em;
  margin-bottom: 0em;
}
